<div class="flex gap-1 h-15rem">
  <img
    class="flex-1"
    src="https://cf.shopee.vn/file/vn-50009109-ed4e5b4041da3958ac37bb3c8b696c05_xxhdpi"
    alt="Lỗi ảnh"
  />

  <div class="flex flex-column gap-1">
    <img
      class="w-20rem h-full object-fit-cover"
      src="https://cf.shopee.vn/file/vn-50009109-d8e7fef2445aefc749512fec7b5a834f_xhdpi"
      alt="Lỗi ảnh"
    />
    <img
      class="w-20rem h-full object-fit-cover"
      src="https://cf.shopee.vn/file/vn-50009109-0790f5422f953d133092d2251a17e048_xhdpi"
      alt="Lỗi ảnh"
    />
  </div>
</div>
