<style>
  .color-item:hover {
    color: #369c48 !important;
    border: 1px solid #369c48 !important;
    transition: all 0.1s ease;
  }

  .color-item-select {
    color: #369c48 !important;
    border: 1px solid #369c48 !important;
  }
</style>

<!-- Toast -->
<div
  *ngIf="message"
  class="fixed top-0 right-0 left-0 bottom-0 flex justify-content-center align-items-center"
>
  <span
    style="background-color: rgba(0, 0, 0, 0.671); color: white"
    class="p-3 border-round-lg"
  >
    {{ message }}
  </span>
</div>
<div class="card flex flex-column gap-3">
  <div class="flex flex-wrap">
    <!-- Left -->
    <div style="width: 40%" class="border-right-1 text-200 text-center">
      <img [src]="onReturnProductDetail()?.img" alt="Lỗi ảnh" class="h-20rem" />
    </div>

    <!-- Right -->
    <div style="width: 60%" class="p-3 pr-0 flex flex-column gap-5">
      <!-- Tên sản phẩm -->
      <span class="text-2xl line-height-2 text-800">
        {{ onReturnProductDetail()?.name }}
      </span>

      <!-- Giá sản phẩm -->
      <div class="flex gap-3">
        <span
          *ngIf="onReturnProductDetail()?.priceSale"
          class="line-through text-700"
        >
          {{ index.formatCurrencyVND(onReturnProductDetail()?.price) }}
        </span>
        <span class="p-error text-3xl">
          {{
            index.formatCurrencyVND(
              onReturnProductDetail()?.priceSale
                ? onReturnProductDetail()?.priceSale
                : onReturnProductDetail()?.price
            )
          }}
        </span>
      </div>

      <!-- Màu sắc -->
      <div class="flex gap-5 align-items-center">
        <span style="font-size: 1.1rem" class="text-700">Màu sắc</span>
        <div class="flex gap-2">
          <span
            *ngFor="
              let item of onReturnProductDetail()?.type;
              let index = index
            "
            style="border: 1px solid #ddd"
            class="color-item px-3 py-2 border-1 text-700 on-click"
            [class]="{ 'color-item-select': item.isSelect }"
            (click)="onClickItemColor(index)"
          >
            {{ item.name }}
          </span>
        </div>
      </div>

      <!-- Số lượng -->
      <div class="flex gap-5 align-items-center">
        <span style="font-size: 1.1rem" class="text-700">Số lượng</span>
        <div class="flex gap-1">
          <i
            [class]="{ 'p-disabled': productInfo.quantity === 1 }"
            class="pi pi pi-minus border-1 w-2rem h-2rem flex justify-content-center align-items-center text-500 on-click"
            (click)="onClickChangeQuantity('minus')"
          >
          </i>
          <input
            [(ngModel)]="productInfo.quantity"
            type="text"
            class="border-1 w-3rem px-2 text-center"
            (keypress)="onKeyPress($event)"
            (change)="onChangeQuantity($event)"
          />
          <i
            class="pi pi-plus border-1 w-2rem h-2rem flex justify-content-center align-items-center text-500 on-click"
            (click)="onClickChangeQuantity('plus')"
          >
          </i>
        </div>
      </div>

      <!-- Chức năng -->
      <div class="flex gap-3">
        <button
          style="border: 1px solid #369c48"
          class="bg-transparent p-3 on-click flex gap-2"
          (click)="onClickAddToCart()"
        >
          <i class="pi pi-cart-plus text-600"></i>
          <span>Thêm vào giỏ hàng</span>
        </button>

        <button
          style="background-color: #369c48"
          class="p-3 outline-none border-none on-click"
          (click)="onClickBuyNow()"
        >
          Mua ngay
        </button>
      </div>
    </div>
  </div>

  <div style="border-top: 1px solid #ddd" class="py-3 flex flex-column gap-3">
    <span>Mô tả sản phẩm</span>
    <div class="line-height-3 text-700">
      {{ onReturnProductDetail()?.description }}
    </div>
  </div>
</div>
